#mybox {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    align-content: center;
    border: 2px red solid;
    padding: 30px;
}

#gallows {
    width: 100%;
    border: 3px goldenrod solid;
    padding: 30px;
    display: flex;
}

.letterbox {
    width: 20px;
    height: 40px;
    border: 2px black solid;
    margin-right: 20px;
    border-radius: 5px;
}