<!-- For some reason I switched to ejs because I thought it would be easier
to pass info from the back-end to the front-end but ended up not using it... -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/styles.css" />
    <style>
    </style>
</head>
<body>
    <div class="content">
        <h1>Hangman Game</h1>
        <br>
        <div>You have 10 guesses to find the 6 letter word.</div>
        <br>
        <div id='wordDisplay'></div>
        <div class='guessDisplay' >Guesses: 
            <span id='guesses'></span>
        </div>

    </div>
    <script src="scripts.js"></script>
</body>
</html>